*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main{
    background-size: 75%;
    background-repeat: no-repeat;
    height: 90vh;
}
footer{
    height: 10vh;
    background: #212121;
    color: #fefefe;
}

footer div {
    width: 100%;
}

.d-flex{
display: flex;
} 
.justify-content-center{
    justify-content: center; 
} 
.align-items-center{
    align-items: center;
}
.card{
    width: 18rem;
    background: #fefefe;
    border-radius: 5px;

    -webkit-box-shadow: 0px 3px 53px -11px rgba(115,115,115,1);
    -moz-box-shadow: 0px 3px 53px -11px rgba(115,115,115,1);
    box-shadow: 0px 3px 53px -11px rgba(115,115,115,1);
}

.form-field{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-field input[type="email"]{
    font-size: 16px;
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.form-field input[type="email"]:focus{
    outline: rgb(37, 99, 192) auto 2px;
}

.form-field input[type="submit"]{
    background: #212121;;
    color: #fefefe;
    padding: .6rem .5rem;
    border: 2px solid #212121;;
    border-radius: 3px;
}

.padding{
    padding: 1rem;
}
.center, .center p{
    text-align: center;
}
.card-title{
    padding: .5rem;
    text-align: center;
    background: #fefefe;
    color: #292929;
    border-bottom:2px solid #292929;
}

.h-100{
    height: 100%;
}

.w-100{
    width: 100%;
}